<div class="faux-avatar m-right"></div>

<div class="fit">
  <h3 class="ms2 strong">{{ data.name }}</h3>
  <p class="ms4 m-top--small grey--light">{{ data.company }}</p>
  <p class="grey ms3">{{ data.description }}</p>
</div>
