<div class="pad--large underline">
  <h2 class="ms1 text-center">Our Sponsors</h2>
</div>

<div class="pad m-top">
  <div class="flex flex--row sponsors">
    {{#each model as |sponsor|}}
      {{sponsor-summary data=sponsor}}
    {{/each}}
  </div>
</div>
